
body, html {
    height: 100%;
    transition: all .4s;
    /*background-color: #4280d3;*/
    font-family: "Open sans", "Segoe UI", "Segoe WP", Helvetica, Arial, sans-serif;
}
body {
    background-image: url("images/yr_microsite_FA.jpg");
    background-position: 0 -40px;
    background-repeat: no-repeat;
    background-size: 100%;
    /*background-color: #4280d3;*/
}
body.form-sutmited {
    background-image: url("images/background-submited.png") !important;
}
.event_custom_body {
    width: 100%;
    padding-top:322px;
}
.event-custom-form {
    padding-left: 8%;
    width:60%;
    text-align:center;
	margin-top:15px;
}
.event-custom-form >div {
    /*margin-bottom: 10px;*/
    overflow: hidden;
}
.event-custom-form input[type="text"] {
    width: 96%;
    padding: 10px 0px;
    font-size: 14px;
    border: 1px solid #e0caca;
    margin: 0px 10px;
    border-radius: 2px;
    text-align: center;
    height: 100%;
    outline: none;
}
.event-custom-form input[type="text"]:focus,
.event-custom-form input[type="text"]:active {
    border-color: #a9a9ea;
}
::-webkit-input-placeholder {
    text-align: center;
    text-transform:uppercase;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
    text-transform:uppercase;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
    text-transform:uppercase;
}

:-ms-input-placeholder {
    text-align: center;
    text-transform:uppercase;
}
.input-file-container {
    position: relative;
    width: 225px;
    margin:auto;
}
.js .input-file-trigger {
    display: block;
    padding: 10px 45px;
    background: #fc7207;
    color: #fff;
    transition: all .4s;
    font-size: 15px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 2px;
    font-weight:bold;
}
.js .input-file {
    position: absolute;
    top: 0; left: 0;
    width: 225px;
    opacity: 0;
    padding: 14px 0;
    cursor: pointer;
}
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
    background: #fc9e2e;
    color: #fff;
}

.file-return {
    margin: 0;
}
.file-return:not(:empty) {
    margin: 1em 0;
}
.js .file-return {
    font-style: italic;
    font-size: .9em;
    font-weight: bold;
}
.js .file-return:not(:empty):before {
    content: "Selected file: ";
    font-style: normal;
    font-weight: normal;
}
.event-custom-client-div {
    height: 400px;
    width: 340px;
    margin-left: 100px;
    overflow: hidden;
}
.event-custom-client-img {
    height: 85%;
    margin-bottom: 5px;
}

.fb-share-button-custom {
    float: left;
    display: inline-block;
    position: relative;
    background: #4267b2;
    border: 1px solid #4267b2;
    color: #fff;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    -webkit-user-select: none;
    white-space: nowrap;
    font-size: 11px;
    padding: 2px 6px;
    border-radius: 3px;
}
.input-error {
    color: red;
    float: left;
    padding-left: 13px;
    font-size: 12px;
    font-style: italic;
    margin: 5px 0px;
    transition: all .4s;
}
.event_custom_body_submitted {
    padding-top: 120px;
    padding-left: 14%;
}
.button_group {
    display: block;
    overflow: hidden;
}
.button-back, .button-fb-share {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
}
.button-back {
    float: left;
    margin-right: 15px;
    width: 30%;
    text-align: center;
}
.button-fb-share {
    width: calc(70% - 15px);
    float: left;
    position: relative;
}

.button-back span, .button-fb-share span {
    background: #ff7415;
    padding: 10px 15px;
    color: #fff;
    display: block;
}
.button-fb-share>span:before {
    content: '';
    position: absolute;
    background-image: url(images/FB-Icon.png);
    height: 27px;
    width: 27px;
    top: 3px;
    background-size: cover;
    left: 3px;
}
.current-form-sutmited {
    display: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #C0C0C0;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #C0C0C0;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #C0C0C0;
}